<!DOCTYPE html>
<% title="Chitter" %>
<html lang="en">
<head>
  <title><%= @title || "Chitter" %></title>
  <meta charseet="utf-5">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href='/' title="Home" class=current?>Home</a></li>
        <li><a href='/about' title="About" class=current?("/about")>About</a></li>
        <li><a href='/contact' title="Contact" class=current?("/contact")>Contact</a></li>
      </ul>
     </nav>
  </header>
  <section>
        <a href="/users/new">Sign up</a>
        <a href="/sessions/new">Sign in</a>
        <a href="/sessions/logout">Sign out</a>
  </section>
   
  <body>
 <% if flash[:errors] && !flash[:errors].empty? %>
   <div id="errors">
      <% flash[:errors].each do |error| %>
         <%= error %>
    </div>
      <% end %>
    </ul>
  <% end %>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
   <%= yield %>
</body>
</html>